<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MagicShop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_final_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Magic"
        >
        <activity android:name=".ProductAreaActivity" />
        <activity android:name=".FragmentDetailCardToModify" />
        <activity android:name=".ShowProductOnSaleModify" />
        <activity android:name=".MyProductsActivity" />
        <activity android:name=".History" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ShowProductOnSaleSeller" />
        <activity android:name=".FindProducts" />
        <activity android:name=".ShowProducts" />
        <activity android:name=".ModifyInformationsActivity" />
        <activity android:name=".UserAreaActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ShowDb" />
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="com.example.cardmarket.action.REGISTRATION_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="com.example.cardmarket.action.LOGIN_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstAccessActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>